@font-face {
    font-family: lemonmilk;
    src: url(./LEMONMILK-Bold.otf);
}

@font-face {
    font-family: montserrat-semibold;
    src: url(./Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(./Montserrat-Regular.ttf);
}

.content {
    margin-top: 80px;
}

@media screen and (min-width: 1130px) and (max-width: 1920px) {
    .column1 {
        margin-left: 80px;
        float: left;
        width: 30%;
    }
    .column2 {
        margin-right: 40px;
        float: right;
        width: 50%;
    }
}

.app_title{
    font-family: lemonmilk;
    float: left;
    position: relative;
    left: 60px;
    offset-position: auto;
    offset-anchor: right;
}

.app_subtitle{
    font-family: montserrat;
    float: right;
    position: relative;
    right: 60px;
    offset-position: auto;
    offset-anchor: right;
}

.navbar {
    background-color: #EB5E28;
    height: 128px;
    width: 100%;
    border-radius: 600px;
    position: fixed;
    top: -81px;
    offset-position: auto;
    offset-anchor: center;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
  
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

  
/* Change the link color to #111 (black) on hover */
.app_subtitle:hover:not(.active) {
    background-color: #FF8353;
}
  

.active {
    background-color: #04AA6D;
}

.last_update {
    font-family: lemonmilk;
    font-size: 25px;
    color: #403D39;
    position: relative;
    offset-position: auto;
    offset-anchor: right;
}

.time {
    font-family: lemonmilk;
    font-size: 50px;
    color: #403D39;
    position: relative;
    offset-position: auto;
    offset-anchor: right;
}

.date {
    font-family: montserrat-semibold;
    font-size: 25px;
    color: #403D39;
    position: relative;
    offset-position: auto;
    offset-anchor: right;
}

.place {
    height: 50px;
    margin-top: 90px;
}

.text_place {
    font-family: lemonmilk;
    font-size: 30px;
    color: #403D39;
    position: relative;
}

.water_condition {
    height: 300px;
    background-color: #403D39;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
}

.water_quality {
    font-family: montserrat;
    font-size: 20px;
    color: #CCC5B9;
}

.water_condition_value {
    font-family: lemonmilk;
    font-size: 80px;
    color: #CCC5B9;
}

hr {
    height: 5px;
    background-color: #CCC5B9;
}

.water_parameter1 {
    width: 100%;
    height: 150px;
    background-color: #CCC5B9;
    border-radius: 15px;
    float: right;
    padding: 20px;
}

.water_parameter2 {
    margin-top: 25px;
    width: 100%;
    height: 150px;
    background-color: #CCC5B9;
    border-radius: 15px;
    float: right;
    padding: 20px;
}

.water_parameter3 {
    margin-top: 25px;
    width: 100%;
    height: 150px;
    background-color: #CCC5B9;
    border-radius: 15px;
    float: right;
    padding: 20px;
}

.parameter {
    float: left;
    font-family: lemonmilk;
    font-size: 20px;
    color: #403D39;
}

.parameter_value {
    float: right;
    font-family: montserrat-semibold;
    color: #403D39;
}

#pHProgress {
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    background: linear-gradient(to right,
    darkred 0%,
    darkred 42%,
    darkgreen 42%,
    darkgreen 57%,
    darkred 57%,
    darkred 100%);
    z-index: 1;
    position: relative;
}

#pHBar {
    width: 0%;
    height: 40px;
    padding: 20px;
    opacity: 0.2; 
    background-color: rgb(255, 238, 216);
    transition: ease-in;
    z-index: 1;
    position: absolute;
}

.Separator {
    background-color: #CCC5B9;
    width: 15px;
    height: 80px;
    z-index: 2;
}

#NTUProgress {
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    background: linear-gradient(to right,
    darkgreen 0%,
    darkgreen 3%,
    darkred 3%,
    darkred 100%);
    z-index: 1;
    position: relative;
}

#NTUBar {
    width: 0%;
    height: 40px;
    padding: 20px;
    opacity: 0.2; 
    background-color: rgb(255, 241, 216);
    transition: ease-in;
    z-index: 1;
    position: absolute;
}

#TDSProgress {
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-between;
    background: linear-gradient(to right,
    darkred 0%,
    darkred 5%,
    darkgreen 5%,
    darkgreen 15%,
    darkred 15%,
    darkred 100%);
    z-index: 1;
    position: relative;
}

#TDSBar {
    width: 0%;
    height: 40px;
    padding: 20px;
    opacity: 0.2; 
    background-color: rgb(255, 241, 216);
    transition: ease-in;
    z-index: 1;
    position: absolute;
}



@media screen and (min-width: 360px) and (max-width: 1129px) {
    .column1 {
        margin-left: 60px;
        margin-right: 60px;
        text-align: center;
    }

    .column2 {
        margin-left: 100px;
        margin-right: 10px;
        text-align: center;
    
    }

    .last_update {
        font-family: lemonmilk;
        font-size: 50px;
        color: #403D39;
        position: relative;
        offset-position: auto;
        offset-anchor: right;
    }
    
    .time {
        font-family: lemonmilk;
        font-size: 100px;
        color: #403D39;
        position: relative;
        offset-position: auto;
        offset-anchor: right;
    }
    
    .date {
        font-family: montserrat-semibold;
        font-size: 50px;
        color: #403D39;
        position: relative;
        offset-position: auto;
        offset-anchor: right;
    }

    .water_condition {
        height: 300px;
        background-color: #403D39;
        width: 90%;
        margin: auto;
        border-radius: 30px;
        padding: 20px;
        position: relative;
        offset-position: auto;
        offset-anchor: right;
    }
    
    .water_quality {
        font-family: montserrat;
        font-size: 20px;
        color: #CCC5B9;
    }
    
    .water_condition_value {
        font-family: lemonmilk;
        font-size: 80px;
        color: #CCC5B9;
    }

    .water_parameter1 {
        width: 100%;
        height: 150px;
        background-color: #CCC5B9;
        border-radius: 15px;
        margin-top: 60px;
        margin-right: 20px;
        padding: 20px;
        position: relative;
    }
    
    .water_parameter2 {
        margin-top: 25px;
        width: 100%;
        height: 150px;
        background-color: #CCC5B9;
        margin-top: 60px;
        margin-right: 20px;
        border-radius: 15px;
        padding: 20px;
    }
    
    .water_parameter3 {
        margin-top: 25px;
        width: 100%;
        height: 150px;
        margin-top: 60px;
        margin-right: 20px;
        background-color: #CCC5B9;
        border-radius: 15px;
        padding: 20px;
    }
}
